/* Mengatur gaya untuk seluruh halaman */
body {
    background-image: url('/static/images/bgperpus.jpg'); /* Ganti dengan path gambar Anda */
    background-size: auto; /* Memastikan gambar menutupi seluruh area */
    background-repeat: no-repeat; /* Mencegah gambar diulang */
    background-position: center; /* Memposisikan gambar di tengah */
    padding: 20px; /* Menambahkan padding di dalam main */
    color: #ffffff; /* Warna teks default */
}

/* Gaya untuk header */
header {
    color: white; /* Warna teks di dalam header */
    padding: 1px; /* Menambahkan padding */
    text-align: center;
}

/* Gaya untuk footer */
footer {
    background-color: #34003b; /* Warna latar belakang footer */
    color: white; /* Warna teks di dalam footer */
    padding: 0px; /* Menambahkan padding */
    text-align: center;
}

/* Gaya untuk judul */
h1, h2, h3 {
    color: #ffffff; /* Warna untuk semua judul */
    margin: 30px;
}

/* Gaya untuk tautan */
a {
    color: #3498db; /* Warna tautan */
    text-decoration: none; /* Menghapus garis bawah */
}

a:hover {
    color: #2980b9; /* Warna tautan saat hover */
    text-decoration: underline; /* Menambahkan garis bawah saat hover */
}

/* Gaya untuk tombol */
button {
    background-color: #2ecc71; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    border: none; /* Menghapus border default */
    padding: 10px 20px; /* Menambahkan padding */
    border-radius: 5px; /* Membuat sudut tombol melengkung */
    cursor: pointer; /* Mengubah kursor saat hover */
}

button:hover {
    background-color: #27ae60; /* Warna latar belakang tombol saat hover */
}

/* Gaya untuk formulir */
form {
    margin-bottom: 20px; /* Menambahkan margin bawah pada formulir */
}

input[type="text"], input[type="password"], input[type="number"] {
    width: 100%; /* Mengatur lebar input */
    padding: 10px; /* Menambahkan padding */
    margin: 5px 0; /* Menambahkan margin atas dan bawah */
    border: 1px solid #ccc; /* Border input */
    border-radius: 4px; /* Membuat sudut input melengkung */
}

input[type="submit"] {
    background-color: #2ecc71; /* Warna latar belakang tombol submit */
    color: white; /* Warna teks tombol submit */
    border: none; /* Menghapus border default */
    padding: 10px 20px; /* Menambahkan padding */
    border-radius: 5px; /* Membuat sudut tombol submit melengkung */
    cursor: pointer; /* Mengubah kursor saat hover */
}

input[type="submit"]:hover {
    background-color: #27ae60; /* Warna latar belakang tombol submit saat hover */
}